.DS_Store
*.log
venv
.venv
*.parquet
.idea/
*.csv
*.json
__pycache__
.ideaxs
*.DS_Store
.idea
*.xml
*log/
*dag_processor/
airflow-demo/airflow/airflow.cfg
airflow-demo/airflow/airflow.db
airflow-demo/airflow/simple_auth_manager_passwords.json.generated
airflow-demo/airflow/airflow.cfg
